include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/datastore_dumper *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/datastore_dumper/migration *.ini *.py *.mako
